footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-top: 2px solid #00000046;
}

.esquerda {
    padding: 40px;
}

.esquerda h2 {
    font-family: var(--text);
    font-size: 36px;

}

.infos {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 10% 90%;
    align-items: center;

}

.infos h2 {
    font-family: var(--text);
    font-size: 42px;
}

.infos img {
    width: 50px;
    height: 50px;
}

.infos p {
    font-family: var(--text);
    font-size: 22px;
}


.direita {
    font-family: var(--text);
    font-size: 10px;
    display: flex;
    padding: 40px;
    text-align: right;
    justify-self: end;
    align-self: end;
    padding: 10px;
}

.direita p {
    white-space: nowrap;
}


@media (max-width: 1200px) {
    footer {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, auto);
        text-align: center;
    }

    .esquerda {
        padding: 20px;
    }

    .esquerda h2 {
        font-size: 20px;
    }

    .infos {
        display: grid;
        grid-template-rows: repeat(3, 30px);
    }


    .infos img {
        width: 25px;
        height: 25px;
    }

    .infos p {
        font-size: 12px;
    }

    .direita {
        font-size: 8px;
        justify-self: center;
        align-self: center;
        padding: 10px;
    }

}